@import "src/assets/styles/styles_config";

.productPageMobCarousel {
  margin: 40px 0 40px;

  .carousel-control-prev {
    top: -110px;
    left: 68%;
  }

  .carousel-control-next {
    top: -110px;
    left: 86%;
  }
}

@include desktop{
  .productPageMobCarousel {

    .carousel-control-prev {
      top: -125px;
      left: 71%;
    }

    .carousel-control-next {
      top: -125px;
      left: 86%;
    }
  }
}

