@import "src/assets/styles/styles_config";

.mainRules {
  background-color: #FFFFFF;
  padding: 40px 16px;
}

.textTitle {
  margin-bottom: 20px;
  color: #422F26;
}

@include desktop-xl {
  .mainRules {
    padding: 50px 40px;
  }
}

@media (min-width: 1200px) {
  .mainRules {
    padding: 80px 120px;
  }
}
